<%= provide :title, "Help" %>

<div class="help">
	<div class="container-fluid">
		<div class="row">
			<div class="hidden-xs col-sm-3 col-md-3">
				<div class = "sidebar">
					<ul class=" nav nav-stacked affix">
						<li><%= link_to "Sign In", "#q1", class:""%></li>
						<li><%= link_to "Sign In Privacy", "#q2", class:""%></li>
						<li><%= link_to "Privacy", "#q3", class:""%></li>
						<li><%= link_to "Adding a Stream", "#q4", class:""%></li>
						<li><%= link_to "Adding a Post", "#q5", class:""%></li>
						<li><%= link_to "Friends List", "#q6", class:""%></li>
						<li><%= link_to "Deleting my Account", "#q7", class:""%></li>
						<li><%= link_to "Deleting Posts/Streams", "#q8", class:""%></li>
						<li><%= link_to "Feedback", "#feedback", class:""%></li>
						<li><%= link_to "Extra Assistance", "#extrasup", class:""%></li>
						<li><%= link_to "Bug Report", "#bugs", class:""%></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9 col-md-9">
				<h4>Help</h4>
				<div id="q1">
					<h5>Do I have yo use facebook, google or twitter for sign in?</h5>
					<p>Currently the only way to access the website is to use one of those services to sign in. </p>
				</div>
				<div id="q2">
					<h5>What information do you take from facebook, twitter or google? </h5>
					<p>The only information taken from those website is the information provided when you first sign up. We only have access to information which is on your public profile. We do not have access to your friends list or any other private information. We will not post to your account.</p>
				</div>
				<div id="q3">
					<h5>How much of my information is private?</h5>
					<p>Currently the only information that is private is your email. Everything else including your general location, name, profile picture, and any post you've created can be viewed by any person who seeks them out.</p>
				</div>
				<div id="q4">
					<h5>How do I add a Stream? </h5>
					<p>You must first be signed in to create a Stream. Once you are signed in you can click the "plus" button in the navbar to take you to the new Stream page. If you are on a phone, open the navigation menu and click "Add a Stream".</p>
				</div>
				<div id="q5">
					<h5>How do I add a post? </h5>
					<p>Navigate to the page of the Stream that you wish to post on and click the "Add a Post" button. </p>
				</div>
				<div id="q6">
					<h5>Can I add another user as my friend? </h5>
					<p>Currently there is no way to add a someone as your friend. If it's a feature you'd like to see send it to the feedback email in the contacts pages. </p>
				</div>
				<div id="q7">
					<h5>Can I delete my account?</h5>
					<p>Yes. Navigate to your settings menu and click the "Delete" button. WARNING: THIS CANNOT BE UNDONE.</p>
				</div>
				<div id="q8">
					<h5>Can I delete a post or Stream? </h5>
					<p>Yes. Find the Stream or the post and click the "X" button to remove it. WARNING: THIS CANNOT BE UNDONE.</p>
				</div>
				<div id="feedback">
					<h5>Where do I send new feature request? </h5>
					<p>Send all thoughts and requests to fazil.azhar.contact@gmail.com with "Feedback" in the subject line.</p>
				</div>
				<div id="extrasup">
					<h5>Where can I find extra help?</h5>
					<p> For extra support email us at fazil.azhar.contact@gmail.com with "Support" in the subject line.</p>
				</div>
					<div id="bugs">
					<h5>Where shouuld I send bug reports? </h5>
					<p>Send all bug reports to fazil.azhar.contact wuth "Bug Report" in the subject line.</p>
				</div>
			</div>
		</div>
	</div>
</div>
