<div class="home">
	<div class="jumbotron">
		<h2>Welcome to Streams</h2>
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-md-7">
					<p>This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website. This will contain a description of the website.</p>
					<ul class="pager">
						<li class="button"><%= link_to "Sign up", signup_path %></li>
					</ul>
				</div>
				<div class="hidden-xs hidden-sm col-md-5"><%= image_tag("http://placehold.it/400x200") %></div>
			</div>
		</div>
	</div>
	<div class = "how-it-works">
		<h3> How it Works </h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/200x200") %>
					 	<div class="caption">
					 		<h5> First heading </h5>
					 		<p>First description</p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/200x200") %>
					 	<div class="caption">
					 		<h5> Second heading </h5>
					 		<p>Second description</p>
					 	</div>
					</div>
				</div>
				<div class ="col-sm-4">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/200x200") %>
					 	<div class="caption">
					 		<h5> Third heading </h5>
					 		<p>Third description</p>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
