<div class="display-stream">
	<h5 class="custom-h5">
		<div class="title"><%= conversation.title %> <span class="name">by: <%= conversation.user.name %></span></div>
			<nav>
				<ul>
					<% if current_user == conversation.user %>
						<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-pencil", data: {toggle: "tooltip", placement: "top"} , title: "Edit"), edit_conversation_path(conversation) %></li>
						<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-remove", data: {toggle: "tooltip", placement: "top"} , title: "Delete"), conversation_path(conversation), method: :delete, data: {confirm: 'Are you sure?'} %></li>
					<% else %>
						<% if current_user.follows.find_by_conversation_id(conversation.id) %>
							<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-remove-circle", data: {toggle: "tooltip", placement: "top"} , title: "Unfollow"), unfollow_conversation_path(conversation), method: :delete, data: {confirm: 'Are you sure?'}  %></li>
						<% else %>
							<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-bookmark", data: {toggle: "tooltip", placement: "top"} , title: "Follow"), follow_conversation_path(conversation), method: :post %></li>
						<% end %>
					<% end %>
					<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-home", data: {toggle: "tooltip", placement: "top"} , title: "View"), conversation_path(conversation) %></li>
				</ul> 
			</nav>
	</h5>
	<p class="wordwrap"><%= conversation.description %></p>
</div>