<div class="stream-edit">
	<div class="stream-nav">
		<small><%= link_to "Back to Stream", conversation_path(@conversation), class: "pull-left" %></small>
	</div>

	<div class="container">
		<div class="stream-new">
			<% if @conversation.errors.any? %>
				<%= render 'conversations/error_explain' %>
			<% end %>
			<h4 class="custom-h4"> Edit Stream </h4>
			<%= form_for :conversation, url: update_conversation_path(@conversation), method: :patch do |f| %>
				<div class= "well">
					<h5 class="custom-h5">Original Title: </h5>
					<%= @conversation.title %>
				</div>
				<div class="form-group">
					<%= f.text_field :title, class: "form-control", placeholder: "Title" %>
				</div>
				<div class= "well">
					<h5 class="custom-h5">Original Description: </h5>
					<%= @conversation.description %>
				</div>
				<div class="form-group">
					<%= f.text_area :description, class: "form-control", placeholder: "Description of your Stream" %>
				</div>
				<%= f.submit "Edit", type: "submit", class: "btn btn-custom" %>
			<% end %>
		</div>
	</div>

	<%= render 'posts/new_post' %>
</div>