<div class="main">
	<div class="top-nav">
		<small><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-chevron-left", data: {toggle: "tooltip", placement: "top"} , title: "Back"), root_path, class: "pull-left" %></small>
		<nav>
			<ul>
				<% if current_user == @conversation.user %>
					<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-pencil", data: {toggle: "tooltip", placement: "top"} , title: "Edit"), edit_conversation_path(@conversation) %></li>
					<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-remove", data: {toggle: "tooltip", placement: "top"} , title: "Delete"), conversation_path(@conversation), method: :delete, data: {confirm: 'Are you sure?'} %></li>
				<% else %>
					<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-user"), user_path(@conversation.user) %></li>
				<% end %>
			</ul> 
		</nav>
	</div>

	<div class="container">
		<h4 class="custom-h4"><%= @conversation.title %></h4>
		<div class="description"><p class="wordwrap"><%= @conversation.description %></p></div>
		<% if current_user %>
			<%= link_to button_tag("Add a Post", class: "btn btn-primary btn-block"), new_conversation_post_path(@conversation) %>
		<% end %>
		<div class="post-show">
			<%= render @conversation.posts %>
		</div>
	</div>
</div>