<div class="user-nav">
	<div class="panel-group" id="user-nav">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6="custom-h6">
					<% if current_user %>
						<%= link_to current_user.name, user_path(current_user) %>
					<% else %>
						<%= link_to "Profile", "#" %>
					<% end %>
				</h6>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6="custom-h6"><%= link_to "Feed", root_path %></h6>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6="custom-h6"><%= link_to "My Streams", "#streams-nav", data: {toggle: "collapse", parent: "#user-nav"} %></h6>
			</div>
			<div id="streams-nav" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class=" nav nav-stacked">
						<% if current_user && conversations %>
							<% conversations.each do |conversation| %>
								<li><%= link_to conversation.title, conversation_path(conversation) %></li>
							<% end %>
						<% end %>
						<li><%= link_to "View All", conversations_path %></li>
						<li><%= link_to "Add a Stream", new_conversation_path %></li>
					</ul>
				</div>
    		</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6="custom-h6"><%= link_to "Settings", "#" %></h6>
			</div>
		</div>
	</div>
</div>