<div class="display-post">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-md-10">
				<div class="left">
					<div class= "panel panel-primary">
						<div class="panel-heading">
							<h5 class="custom-h5">
								<div class="title"><%= post.title %></div>
								<nav>
									<ul>
										<% if current_user == post.user %>
											<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-pencil", data: {toggle: "tooltip", placement: "top"} , title: "Edit"), edit_conversation_post_path(post.conversation, post) %></li>
											<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-remove", data: {toggle: "tooltip", placement: "top"} , title: "Delete"), [post.conversation, post], method: :delete, data: {confirm: 'Are you sure?'} %></li> 
										<% else %>
											<li class="visible-xs"><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-user", data: {toggle: "tooltip", placement: "top"} , title: "Visit Profile"), user_path(post.user) %></li>
										<% end %>
										<li><%= link_to content_tag(:span,"", class: "glyphicon glyphicon-home", data: {toggle: "tooltip", placement: "top"} , title: "Visit Stream"), conversation_path(post.conversation) %></li> 
									</ul>
								</nav>
							</h5>
						</div>
						<div class="panel-body">
							<p class="wordwrap"><%= post.content %></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 hidden-xs">
				<div class="right">
					<div class="thumbnail-custom">
						<%= link_to image_tag(post.user.image_source, class: "img-circle hidden-xs", width: "75px", height: "75px"), user_path(post.user) %>
						<div class="caption"><%= post.user.name %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>