<header class="navbar navbar-custom navbar-fixed-top" role = "navigation">
	<div class = "container-fluid">
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<%= link_to "Streams", root_path, :class => "navbar-brand"%>
		</div>
		<div class="collapse navbar-collapse" id="main-nav">
           <div class="navbar navbar-right">
	            <ul class="nav navbar-nav">
		            <% if current_user %>
		            	<li><button type="button" class="btn btn-custom navbar-btn hidden-xs"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-plus", data: {toggle: "tooltip", placement: "bottom"} , title: "Add a Stream"), new_conversation_path %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn hidden-xs"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-th-list", data: {toggle: "tooltip", placement: "bottom"} , title: "My Streams"), conversations_path %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn hidden-xs"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-cog", data: {toggle: "tooltip", placement: "bottom"} , title: "Settings"), user_settings_path(current_user) %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn hidden-xs"><%= link_to content_tag(:span, "", class: "glyphicon glyphicon-log-out", data: {toggle: "tooltip", placement: "bottom"} , title: "Sign Out"), logout_path %></button></li>
		            	<li><button class="btn btn-image-custom navbar-btn hidden-xs" type="button"><%= link_to image_tag(current_user.image_source, class: "img-circle", height: "32px", width: "32px"), user_path(current_user) %></button></li>
		            	
		            	<li><button type="button" class="btn btn-custom navbar-btn visible-xs"><%= link_to "PROFILE", user_path(current_user) %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn visible-xs"><%= link_to "ADD STREAM", new_conversation_path %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn visible-xs"><%= link_to "MY STREAMS", conversations_path %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn visible-xs"><%= link_to "SETTINGS", user_settings_path(current_user) %></button></li>
		            	<li><button type="button" class="btn btn-custom navbar-btn visible-xs"><%= link_to "SIGN OUT", logout_path %></button></li>
					<% else %>
						<li><button type="button" class="btn btn-custom navbar-btn"><%= link_to "ABOUT", about_path %></button></li>
			            <li><button type="button" class="btn btn-custom navbar-btn"><%= link_to "CONTACT", contact_path %></button></li>
			            <li><button type="button" class="btn btn-custom navbar-btn"><%= link_to "HELP", help_path %></button></li>
						<li><button type="button" class="btn btn-custom navbar-btn" data-toggle="modal" data-target="#login-modal">LOGIN</button></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</header>